@import '../../modules/visuel/mixin/sizes.scss';
@import '../../modules/visuel/mixin/color.scss';
// https://codepen.io/peiche/pen/pvQxVo

.Spinner {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  div {
    display: block;
  }

  position: relative;
  display: inline-block;
  font-size: 0;

  .spinner-container {
    width: 100%;
    height: 100%;
    animation: container-rotate 1568ms linear infinite;
  }

  @keyframes container-rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .spinner-layer {
    -animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
      both;
  }

  &.DARK .spinner-layer {
    border-color: $primary-color-dark;
  }

  &.LIGHT .spinner-layer {
    border-color: $primary-color-light;
  }

  @keyframes fill-unfill-rotate {
    12.5% {
      transform: rotate(135deg);
    }

    25% {
      transform: rotate(270deg);
    }

    37.5% {
      transform: rotate(405deg);
    }

    50% {
      transform: rotate(540deg);
    }

    62.5% {
      transform: rotate(675deg);
    }

    75% {
      transform: rotate(810deg);
    }

    87.5% {
      transform: rotate(945deg);
    }

    to {
      transform: rotate(1080deg);
    }
  }

  .spinner-clipper {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  }

  .spinner-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100%;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-style: solid;
    // border-width: 2px; Surchargé par le composant
    border-radius: 50%;
    animation: none;
  }

  .spinner-clipper--left .spinner-circle {
    border-right-color: transparent !important;
    transform: rotate(129deg);
    -animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }

  .spinner-clipper--right .spinner-circle {
    left: -100%;
    border-left-color: transparent !important;
    transform: rotate(-129deg);
    -animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }

  @keyframes left-spin {
    from {
      transform: rotate(130deg);
    }

    50% {
      transform: rotate(-5deg);
    }

    to {
      transform: rotate(130deg);
    }
  }

  @keyframes right-spin {
    from {
      transform: rotate(-130deg);
    }

    50% {
      transform: rotate(5deg);
    }

    to {
      transform: rotate(-130deg);
    }
  }

  .spinner--patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  }

  .spinner--patch .spinner-circle {
    left: -450%;
    width: 1000%;
  }
}
