$primary-color: #00bcd4;
$primary-color-dark: rgba(#0097a7, 0.5);
$primary-color-light: #b2ebf2;
$primary-color-light2: #d2ecf0;
$primary-color-text: #ffffff;
$accent-color: #03a9f4;
$icon-color: #ffffff;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$color0: #142726;
$color1: rgba(73, 140, 138, 1);
$color2: rgba(76, 224, 210, 1);
$color3: rgba(61, 165, 217, 1);
$color4: rgba(90, 255, 249, 1);
$color5: rgba(128, 185, 210, 1);

//lime
$lime9: #5c940d;
$lime8: #66a80f;
$lime7: #74b816;
$lime6: #82c91e;
$lime5: #94d82d;
$lime4: #a9e34b;
$lime3: #c0eb75;
$lime2: #d8f5a2;
$lime1: #e9fac8;
$lime0: #f4fce3;

//green
$green9: #2b8a3e;
$green8: #2f9e44;
$green7: #37b24d;
$green6: #40c057;
$green5: #51cf66;
$green4: #69db7c;
$green3: #8ce99a;
$green2: #b2f2bb;
$green1: #d3f9d8;
$green0: #ebfbee;

//cyan
$cyan9: #0b7285;
$cyan8: #0c8599;
$cyan7: #1098ad;
$cyan6: #15aabf;
$cyan5: #22b8cf;
$cyan4: #3bc9db;
$cyan3: #66d9e8;
$cyan2: #99e9f2;
$cyan1: #c5f6fa;
$cyan0: #e3fafc;

//blue
$blue9: #1864ab;
$blue8: #1971c2;
$blue7: #1c7ed6;
$blue6: #228be6;
$blue5: #339af0;
$blue4: #4dabf7;
$blue3: #74c0fc;
$blue2: #a5d8ff;
$blue1: #d0ebff;
$blue0: #e7f5ff;
$colorPrimaryAlpha50: rgba(#1864ab, 0);
