$responsiveMobile: "(max-width: 767px)";
$responsiveTablet: "(min-width: 768px) and (max-width: 1279px)";
$responsiveDesktop: "(min-width: 1280px)";
$responsiveTabletAndDesktop: "(min-width: 768px)";
$responsiveMobileAndTablet: "(max-width: 1279px)";
$responsiveMaxTablet: "(max-width: 1279px)";
$responsiveMinTablet: "(min-width: 768px)";
