$sizeSpace1: 2px;
$sizeSpace2: 4px;
$sizeSpace3: 8px;
$sizeSpace4: 16px;
$sizeSpace5: 24px;
$sizeSpace6: 32px;
$sizeSpace7: 40px;
$sizeSpace8: 48px;
$sizeSpace9: 64px;
$sizeBlockPaddingTopBottom: $sizeSpace6;
$sizeBlockPaddingLeftRightMobile: $sizeSpace4;
$sizeBlockPaddingLeftRightTabletAndDesktop: $sizeSpace6;
$sizeBlockSpaceBewteen: $sizeSpace4;
$sizeHeaderMobileHeightNotConnected: 30px;
$sizeHeaderTabletHeightNotConnected: 140px;
$sizeHeaderIconSize: 24px;
$sizeBadgeSize: 24px;
$sizeMenuWidth: 400px;
$sizeResultIcon: 128px;
$sizeButtonReactiveHeight: 40px;
$sizeButtonRadius: 6px;
$sizePopupFromTop: 100px;
$sizePopupMaxWidth: 400px;
$sizeTileItemIcon: 16px;
$sizeTileItemPadding: $sizeSpace3;
$sizeInfoIcon: 16px;
$sizeAccountTile: 192px;
$sizeIcon: 1.5rem;
$sizeIconWidthForm: 0.6rem;
$sizeIconHeightForm: 1.1rem;
$sizeIconMarginSideForm: 5px;
$sizeIconStateScreen: 6rem;
$sizeRightPaneWidth: 310px;
$sizeConnectHeaderHeightMobile: 128px;
$sizeHeaderHeightTablet: 108px;
$sizeBetweenElementsInForm: $sizeSpace6;
