.Space {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Space__header {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px solid White;
}

.Space___content__empty {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
}
.Space__content__times {
  border: 5px solid white;
}
