.Evenement{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    border: 5px solid yellow;
}


.Evenement__header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 5px solid yellow;
}

.Evenement__content__times{
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;
    padding: 5px;
}