.Time {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 5px;
  background-color: white;
  align-items: center;
  border: 5px solid black;
}

.Time__header{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
  max-width: 5%;
}

.Time__content{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 5px;
}

.Time__content__evenements {
  display: flex;
  flex-direction: row;
  align-items : stretch;
  border: 5px solid white;
  padding: 5px;
  flex-grow: 1;
}

 .Time__content__fils {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items : stretch;
  border: 5px solid white;
  padding: 5px;
  
}